[Unit]
Description=Web-based software to manage a non-profit food coop
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
EnvironmentFile=/etc/systemd/system/foodsoft.env
ExecStart=/opt/rbenv/versions/__RUBY_VERSION__/bin/passenger start --environment production --ruby /opt/rbenv/versions/__RUBY_VERSION__/bin/ruby

[Install]
WantedBy=multi-user.target
