[Unit]
Description=Resque is a Redis-backed Ruby library for creating background jobs
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
EnvironmentFile=/etc/systemd/system/resque.env
ExecStart=/opt/rbenv/versions/__RUBY_VERSION__/bin/bundle exec rake resque:work
ExecStop=/bin/cat __FINALPATH__/resque.__PORT__.pid.lock | xargs kill -s QUIT

[Install]
WantedBy=multi-user.target
